{% extends 'base.html' %}
{% block content %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
<div class="wrapper">
    <form class="form-signin" method="POST">    
      </br><h2 class="form-signin-heading">Change password</h2></br>
      <input type="password" class="form-control" name="oldpassword" placeholder="Old Password" required="" autofocus="" /></br>
      <input type="password" class="form-control" name="newpassword" placeholder="New  Password" required="" autofocus="" /></br>
      <input type="password" class="form-control" name="repassword" placeholder=" Retype Password" required=""/></br>      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button> 
      <p style="color:red;">{{msg}}</p>  
    </form>
</div>
{% endblock %}