{% extends 'base.html' %}
{% block content %}
    <center><h1>{% block title %} Project : {{project.projectname}}  {% endblock %}</h1></center>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/showuser.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/loading.css') }}">
  </br></br></br>
  <center>
    <a href="{{ url_for('download_report',id= project.projectid)}}" class="btn btn-success" style="float: right;" role="button" aria-pressed="true">Download Report</a>
</center></br>
<div>
  total : {{totalrequest}}
  done : {{donerequest}}
  remain : {{remain}}
</div>
<br>
<div>
  <form id="checkboxForm">
    <button type="submit" onclick="sendData()">Submit</button>
  </form>
  <div id="waitloading" class="hidden"></div>
    <table class="table" style="width:100%">
        <thead class="thead-dark" style="width:100%">
          <tr>
            <th>
              <input name="select-all" id="select-all" type="checkbox" value="" aria-label="" onClick="toggle(this)">
            </th>
            <th style="text-align: center" scope="col">#</th>
            <th style="text-align: center" style="width: 150px;">Project Request URL</th>
            <th style="text-align: center" cope="col">Params</th>
            <th style="text-align: center" scope="col">Status</th>
            <th style="text-align: center" scope="col">Bug</th>
            <th style="text-align: center" scope="col">Do active scan</th>
            <th style="text-align: center" scope="col">Other</th>
            <th style="text-align: center;width: 8%;" scope="col">Test Date</th>
            <th style="text-align: center" scope="col">Test by</th>
          </tr>
        </thead>
        <tbody>
          <p style="color:red;">{{msg}}</p>
        {% for request in requests %}
          <tr>
            <th>
                <input type="checkbox" id="checkboxNoLabel" name="option" value="request.requestid" aria-label="">
            </th>
            <th style="text-align: center" class="counterCell"></th>
            <td style="width: 150px;">{{ request.requesturl }}</td>
            <td style="text-align: center" >{{ request.haveparam }}</td>
            <td style="text-align: center" >{{ request.status }}</td>
            {% if request.isscan == 1 %}
              {% if request.bug == "Bug Found"%}
            <th style="color:red;text-align: center;"scope="row"><a style="color:red" href="{{ url_for('bug_detail',id= request.requestid) }} ">{{ request.bug }}!</a></th>
              {%else%}
              <th style="text-align: center" style="color: red"scope="row"><a style="color:green">Safe</a></th>
              {% endif %}
            {% elif request.isscan != 1%}
              <td style="text-align: center"><a style="color:blue">Run scan to know</a></td>
            {% endif %}
            {% if request.isscan != 1 %}
            <td style="text-align: center" > 
              <span style="float:center;">
              <a onclick="loadScreen({{request.requestid}})"class="btn btn-success">Active scan</a>
              </span>
            </td>
            {% else %}
            <td style="text-align: center" > 
              <span style="float:center;">
              Had been scanned
              </span>
            </td>
            {% endif %}
            <td style="text-align: center" class="align-middle" > 
              <div style="float:center;" class="dropdown">
                <button class="btn btn-success" class="dropbtn">Other</button>
                <div class="dropdown-content">
                      <a style="background-color: bisque;"href="{{ url_for('profile')}}" class="nav-link">SQLI Scan</a>
                      <a style="background-color: bisque;"href="{{ url_for('changepwd')}}" class="nav-link">XSS Scan</a>
                      <a style="background-color: bisque;"href="{{ url_for('changepwd')}}" class="nav-link">RFI/LFI Scan</a>
                </div>
              </div>
              </span>
            </td>
            <td style="text-align: center">{{ request.testdate }}</td>
            <td style="text-align: center">{{ request.pentester }}</td>
          {% endfor %}
        </tbody>
      </table> 
    </div>
<script>
  function loadScreen(value) {
    window.location.href = '/activescan/'+value;
    document.getElementById("waitloading").classList.remove("hidden");
  }
</script>
<script>
  function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
} 
</script> 
<script>
  function sendData() {
    var checkboxes = document.getElementById("checkboxNoLabel");
    var checkedValues = [];
    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        checkedValues.push(checkbox.value);
        alert(checbox.value)
      }
    });
  }
</script>

{% endblock %}