{% extends 'base.html' %}
{% block content %}
    <center><h1>{% block title %} Detail of {{project.projectname}}  {% endblock %}</h1></center>
    <a href="{{ url_for('download_report',id= project.projectid)}}" class="btn btn-success" style="float: right;" role="button" aria-pressed="true">Download Report</a>
<br>
    <div style="display: flex;justify-content: center;">
      <div style ="flex:1">
          <h5>All Vulnerabilities have been found</h5></br>
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th style="width: 70%;"><a>Vulnerabilities Name</a></th>
                  <th style="text-align: center" ><a>Total</a></th>
                  <th style="text-align: center" ><a>Risk</a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for bug in bugs  %}
                  <tr>
                      <td style="width: 70%;">{{bug.name}}</td>        
                      <td style="text-align: center">{{bug['count(bugid)']}}</td>        
                      {% if bug.risk == 'Critical' %}
                      <td style="text-align: center" style="color: red"><a style="color:purple">{{bug.risk}}</a></td>
                      {% elif bug.risk == 'High' %}
                      <td style="text-align: center" style="color: red"><a style="color:Red">{{bug.risk}}</a></td>
                      {% elif bug.risk == 'Medium' %}
                      <td style="text-align: center" style="color: red"><a style="color:orangered">{{bug.risk}}</a></td>
                      {% elif bug.risk == 'Low'%}
                      <td style="text-align: center" style="color: red"><a style="color:green">{{bug.risk}}</a></td>
                      {% elif bug.risk == 'Informational'%}
                      <td style="text-align: center" style="color: red"><a style="color:lightblue">{{bug.risk}}</a></td>
                      {% endif %}
                  </tr>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
        </div>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/showuser.css') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/loading.css') }}">
      </br></br></br>

    <div style ="flex:0.2">
      <div id ="donut_chart"></div>
    </div >
</div>
<script type = "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type = "text/javascript">

  google.charts.load('current', {'packages': ['corechart']})

  google.charts.setOnLoadCallback(drawCharts)

  function drawCharts() {
      var data = new google.visualization.DataTable()
    data.addColumn('string', 'Request')
    data.addColumn('number', 'Request');
    data.addRows([
        ['Done', {{donerequest}}],
        ['Remain', {{remain}}]
    ]);
    var options_3 = {
        'title': 'Request Status',
        'width': '530',
                'height': '500',
                'pieHole': 0.5,
    }
    var donut_chart = new google.visualization.PieChart(document.getElementById('donut_chart'));
    donut_chart.draw(data, options_3);             }
</script >

<br>
<div>
  <div id="waitloading" class="hidden"></div>
    <table class="table" style="width:100%">
        <thead class="thead-dark" style="width:100%">
          <tr>
            <th style="text-align: center" scope="col">#</th>
            <th style="text-align: center" style="width: 150px;">Project Request URL</th>
            <th style="text-align: center" cope="col">Params</th>
            <th style="text-align: center" scope="col">Status</th>
            <th style="text-align: center" scope="col">Bug</th>
            <th style="text-align: center" scope="col">Do active scan</th>
            <th style="text-align: center;width: 8%;" scope="col">Test Date</th>
            <th style="text-align: center" scope="col">Test by</th>
          </tr>
        </thead>
        <tbody>
          <p style="color:red;">{{msg}}</p>
        {% for request in requests %}
          <tr>
            <th style="text-align: center" class="counterCell"></th>
            <td style="width: 150px;">{{ request.requesturl }}</td>
            <td style="text-align: center" >{{ request.haveparam }}</td>
            <td style="text-align: center" >{{ request.status }}</td>
            {% if request.isscan == 1 %}
              {% if request.bug == "Bug Found"%}
            <th style="color:red;text-align: center;"scope="row"><a style="color:red" href="{{ url_for('bug_detail',id= request.requestid) }} ">{{ request.bug }}!</a></th>
              {% else %}
              <th style="text-align: center" style="color: red"scope="row"><a style="color:green">Safe</a></th>
              {% endif %}
            {% elif request.isscan != 1%}
              <td style="text-align: center"><a style="color:blue">Run scan to know</a></td>
            {% endif %}
            {% if request.isscan != 1 %}
            <td style="text-align: center" > 
              <span style="float:center;">
              <a onclick="loadScreen({{request.requestid}})"class="btn btn-success">Active scan</a>
              </span>
            </td>
            {% else %}
            <td style="text-align: center" > 
              <span style="float:center;">
              Had been scanned
              </span>
            </td>
            {% endif %}
            <td style="text-align: center">{{ request.testdate }}</td>
            <td style="text-align: center">{{ request.pentester }}</td>
          {% endfor %}
        </tbody>
      </table> 
    </div>
<script>
  function loadScreen(value) {
    window.location.href = '/activescan/'+value;
    document.getElementById("waitloading").classList.remove("hidden");
  }
</script>
<script>
  function toggle(source) {
    var checkboxes = document.querySelectorAll('input[type="checkbox"]');
    for (var i = 0; i < checkboxes.length; i++) {
        if (checkboxes[i] != source)
            checkboxes[i].checked = source.checked;
    }
} 
</script> 
<script>
  function sendData() {
    var checkboxes = document.getElementById("checkboxNoLabel");
    var checkedValues = [];
    checkboxes.forEach(function(checkbox) {
      if (checkbox.checked) {
        checkedValues.push(checkbox.value);
        alert(checbox.value)
      }
    });
  }
</script>

{% endblock %}